{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="card mx-auto" style="max-width: 500px;">
    {% if drink.image %}
      <img src="{{ drink.image }}" class="card-img-top" alt="{{ drink.name }}">
    {% else %}
      <img src="{% static 'drinks/default.png' %}" class="card-img-top" alt="{{ drink.name }}">
    {% endif %}
    <div class="card-body">
      <h2 class="card-title">{{ drink.name }}</h2>
      <dl class="row">
        <dt class="col-sm-4">Price:</dt>
        <dd class="col-sm-8">{{ drink.price }}</dd>
        <dt class="col-sm-4">Opening Stock:</dt>
        <dd class="col-sm-8">{{ drink.opening_stock }}</dd>
        <dt class="col-sm-4">New Stock:</dt>
        <dd class="col-sm-8">{{ drink.new_stock }}</dd>
        <dt class="col-sm-4">Total Stock:</dt>
        <dd class="col-sm-8">{{ drink.total_stock }}</dd>
        <dt class="col-sm-4">Drinks Sold:</dt>
        <dd class="col-sm-8">{{ drink.number_sold }}</dd>
        <dt class="col-sm-4">Damaged Drinks:</dt>
        <dd class="col-sm-8">{{ drink.damage }}</dd>
        <dt class="col-sm-4">Total Sales:</dt>
        <dd class="col-sm-8">{{ drink.amount_sold }}</dd>
        <dt class="col-sm-4">Closing Stock:</dt>
        <dd class="col-sm-8">{{ drink.closing_stock }}</dd>
      </dl>
      <a href="{% url 'drink_update' drink.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'drink_delete' drink.id %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
{% endblock %}


