{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="my-4">Stock List</h1>
    <form method="get">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="date">Date:</label>
          <input type="date" class="form-control" name="date" id="date" value="{{ date }}">
        </div>
        <div class="form-group col-md-4">
          <button type="submit" class="btn btn-primary mt-4">Search</button>
        </div>
      </div>
    </form>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Image</th>
          <th>Opening Stock</th>
          <th>New Stock</th>
          <th>Total Stock</th>
          <th>Price</th>
          <th>Number Sold</th>
          <th>Damage</th>
          <th>Amount Sold</th>
          <th>Closing Stock</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for drink in drinks %}
          <tr>
            <td>{{ drink.date }}</td>
            <td>{{ drink.name }}</td>
            {% if drink.image %}
              <td><img src="{{ drink.image.url }}" alt="{{ drink.name }}" width="100" /></td>
            {% else %}
              <td>No Image</td>
            {% endif %}
            <td>{{ drink.opening_stock }}</td>
            <td>{{ drink.new_stock }}</td>
            <td>{{ drink.total_stock }}</td>
            <td>₦{{ drink.price }}</td>
            <td>{{ drink.number_sold }}</td>
            <td>{{ drink.damage }}</td>
            <td>{{ drink.amount_sold }}</td>
            <td>{{ drink.closing_stock }}</td>
            <td>
              <a href="{% url 'drink_update' drink.id %}" class="btn btn-primary">Edit</a>
              <form action="{% url 'drink_delete' drink.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          {% empty %}
        <tr>
          <td colspan="12">No drinks found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
