{% load static %}
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        <img src="{% static 'img/oab_126x54.jpeg' %}" alt="Django Secure">
        <img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." />      
      </div>
      <div>
        <p class="footer-link fw-bolder">Pameec Hotel System &copy; 
          <script>
            document.write(new Date().getFullYear());
          </script>
        </p>
    </div>
    </div>
  </footer>